.photo {
  width: 100%;
  height: 50%;
  position: relative;
}
.Barcode {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 20px;
}
.photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
p {
  font-size: 30px;
}

.photo img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.loader {
  width: 200px;
  height: 200px;
  background-image: url(../../../public/img/VZvw.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
